<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SelFish</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <script src="/jquery/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <style>
        body {
            font: 15px "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
        }
        #sendMessage {
            position: fixed;
            bottom: 0;
            height: 12%;
            width: 100%;
            max-height: 50px;
            border-top: solid 1px;
        }

        #sendMessage input {
            width: 90%;
            height: 100%;
        }

        #send {
            height: 100%;
            width: 8%;

            outline: 0;
            background: none;
            border: 0;
        }


        #messages {
            position: fixed;
            bottom: 12%;
            padding: 0;
            list-style-type: none;
            width: 100%;
        }


        .talk-bubble {
            margin: 4px;
            display: block;
            position: relative;
            width: 200px;
            height: auto;
            background-color: rgba(255,255,224, 0.5);

        }

        .talktext .back {

        }

        .talktext {
            padding: 0.7em;
            text-align: left;
            line-height: 1.5em;
        }
        .talktext p{
            /* remove webkit p margins */
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            word-wrap: break-word;
        }

        #messages, #sendMessage {
            box-sizing: border-box;
        }
    </style>

</head>


<body>
<ul id="messages"></ul>
<form id="sendMessage" action="">
    <input id="m" autocomplete="off" class="img-thumbnail"/>
    <button id="send"><img src="assets/send_icon.png" class="img-fluid" alt=""></button>
</form>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" data-backdrop="static"
     data-show="{{ isNotConnected }}" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <form id="login" action="">
                    <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="text" id="usrname">
                    </div>
                    <button class="btn btn-default btn-success btn-block"><span
                                class="glyphicon glyphicon-off"></span> Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    function getCookie(name) {
        let nameEQ = name + "=";
        let ca = document.cookie.split(';');
        for (i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    if ({{ isNotConnected }}) {
        $("#myModal").modal()
    }

    $(function () {
        let socket = io('http://localhost:8080');
        socket.on('chat message', function (msg) {
            $('#messages').append($('<li class="talk-bubble">').html(msg));
        });

        $('#sendMessage').submit(function () {
            content = $('#m').val()
            socket.emit('chat message', {username: getCookie('username'), content: content, color: getCookie('color')});
            $('#m').val('');
            return false;
        });

        console.log("cookies present: " + document.cookie)
        $('#login').submit(function () {
            let username = $('#usrname').val()
            $.ajax({
                method: "POST",
                url: "/login",
                data: {username: username}, statusCode: {
                    201: () => {
                        console.log("User regitered")
                        console.log("cookie generated through ajax : " + getCookie('username'))
                        $('#myModal').modal('toggle')
                    }
                }
            });

            return false;
        });

    });
</script>

</body>


</html>